<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.businesspalna.service.impl.BusinessPlanAMapper">

	<!-- businessplanA,B,C,D talbe에서 id값을 조건으로 등록된 사업계획서 목록을 가져옴 -->
	<select id="getSearchBusinessPlanA" resultType="BusinessPalnAVO">
		SELECT * FROM BUSINESSPLANA
		WHERE ID=#{id}
	</select>
	
	
	
	<!-- 사업계획서 엑셀로 다운로드할 때 사업계획서 단건조회 -->
	<select id="getBpExcel" resultType="map">
		SELECT * FROM BUSINESSPLANA
		WHERE SEQ = #{seq}
	</select>
	
	<!-- 사업계획서 번호. 마지막으로 쓰인 sequence의 다음 값을 가져온다. -->
	<select id="getSeq" resultType="int">
		SELECT BUSINESS_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<!-- 사업계획서 단건조회 -->
	<select id="getBusinessPlanA" parameterType="BusinessPalnAVO" resultType="BusinessPalnAVO" statementType="CALLABLE">
		{call BUSINESS_SELECT_PROCEDURE( #{seq},
										 #{business_a, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{business_b, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{business_c, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{title, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{prod_a, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{prod_b, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{prod_c, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{phidden, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{market_a, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{market_b, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{market_c, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{market_d, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{mhidden, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{selling_a, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{selling_b, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{selling_c, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String},
										 #{shidden, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
										 
		 )}
		
	</select>
	
	<!-- 사업계획서 등록 -->
	<insert id="insertBusinessPlanA" parameterType="BusinessPalnAVO"> 
	INSERT INTO BUSINESSPLANA(SEQ,
							BUSINESS_A,
							BUSINESS_B,
							BUSINESS_C,
							ID,
							TITLE)
					VALUES(#{seq},
							#{business_a},
							#{business_b},
							#{business_c},
							#{id},
							#{title}
							) 
	</insert>
	
	<insert id="insertBusinessPlanB" parameterType="BusinessPalnAVO"> 
	INSERT INTO BUSINESSPLANB(SEQ,
							PROD_A,
							PROD_B,
							PROD_C,
							PHIDDEN,
							ID
							)
					VALUES(#{seq},
							#{prod_a},
							#{prod_b},
							#{prod_c},
							#{phidden},
							#{id}
							) 
	</insert>
	
	<insert id="insertBusinessPlanC" parameterType="BusinessPalnAVO"> 
	INSERT INTO BUSINESSPLANC(SEQ,
							MARKET_A,
							MARKET_B,
							MARKET_C,
							MARKET_D,
							MHIDDEN,
							ID
							)
					VALUES(#{seq},
							#{market_a},
							#{market_b},
							#{market_c},
							#{market_d},
							#{mhidden},
							#{id}
							) 
	</insert>
	
	<insert id="insertBusinessPlanD" parameterType="BusinessPalnAVO"> 
	INSERT INTO BUSINESSPLAND(SEQ,
							SELLING_A,
							SELLING_B,
							SELLING_C,
							SHIDDEN,
							ID
							)
					VALUES(#{seq},
							#{selling_a},
							#{selling_b},
							#{selling_c},
							#{shidden},
							#{id}
							) 
	</insert>
	
	
	<!-- 사업계획서 수정 -->
	<update id="updateBusinessPlanA" parameterType="BusinessPalnAVO">
	UPDATE BUSINESSPLANA 
	<set>
		BUSINESS_A =#{business_a},
		BUSINESS_B=#{business_b},
		BUSINESS_C=#{business_c},
		title=#{title}
		
	</set> 
	WHERE SEQ=#{seq}
	</update>

	<update id="updateBusinessPlanB" parameterType="BusinessPalnAVO">
	UPDATE BUSINESSPLANB
	<set>
		prod_a =#{prod_a},
		prod_b=#{prod_b},
		prod_c=#{prod_c}
	</set> 
	WHERE SEQ=#{seq}
	</update>
	
		<update id="updateBusinessPlanC" parameterType="BusinessPalnAVO">
	UPDATE BUSINESSPLANC
	<set>
		market_a =#{market_a},
		market_b=#{market_b},
		market_c=#{market_c},
		market_d=#{market_d},
		
	</set> 
	WHERE SEQ=#{seq}
	</update>
	
		<update id="updateBusinessPlanD" parameterType="BusinessPalnAVO">
	UPDATE BUSINESSPLANAD
	<set>
		selling_a =#{selling_a},
		selling_b=#{selling_b},
		selling_c=#{selling_c}
	</set> 
	WHERE SEQ=#{seq}
	</update>

	
	
	<!-- 사업계획서 삭제 -->
	<delete id="deleteBusinessPlanA" parameterType="BusinessPalnAVO" statementType="CALLABLE">
	{call BUSINESS_DELETE_PROCEDURE( #{seq})}
	</delete>
	
	
</mapper>