<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.businesspalna.service.impl.BusinessPlanAMapper">
	<select id="getSearchBusinessPlanA" resultType="BusinessPalnAVO">
		select * from businessplana
		where id=#{id}
	</select>
	
	<select id="getBpExcel" resultType="map">
		select * from businessplana
		where seq = #{seq}
	</select>
	
	<select id="getSeq" resultType="String">
		select business_seq.nextval from dual
	</select>
	
	
	<select id="getBusinessPlanA" parameterType="BusinessPalnAVO" resultType="BusinessPalnAVO">
		select *
		from Businessplana a 
		<if test="pHidden != null">
		JOIN Businessplanb b
		on A.Seq = B.Seq
		</if>
		<if test="mHidden != null">
		JOIN Businessplanc c
		on A.Seq = C.Seq
		</if>
		<if test="sHidden != null">
		JOIN Businesspland d
		on A.Seq = D.Seq
		</if> 
		where A.Seq = #{seq}

	</select>
	
	
	<insert id="insertBusinessPlanA" parameterType="BusinessPalnAVO"> 
	INSERT INTO Businessplana(SEQ,
							BUSINESS_A,
							BUSINESS_B,
							BUSINESS_C,
							ID)
					VALUES(#{seq},
							#{business_a},
							#{business_b},
							#{business_c},
							#{id}
							) 
	</insert>
	
	<insert id="insertBusinessPlanB" parameterType="BusinessPalnAVO"> 
	INSERT INTO Businessplanb(SEQ,
							prod_a,
							prod_b,
							prod_c
							,bhidden
							)
					VALUES(#{seq},
							#{prod_a},
							#{prod_b},
							#{prod_c},
							#{pHidden},
							) 
	</insert>
	
	<insert id="insertBusinessPlanC" parameterType="BusinessPalnAVO"> 
	INSERT INTO Businessplanc(SEQ,
							market_a,
							market_b,
							market_c,
							market_d,
							mHidden
							)
					VALUES(#{seq},
							#{market_a},
							#{market_b},
							#{market_c},
							#{market_d},
							#{mHidden}
							) 
	</insert>
	
	<insert id="insertBusinessPlanD" parameterType="BusinessPalnAVO"> 
	INSERT INTO Businesspland(SEQ,
							selling_a,
							selling_b,
							selling_c,
							sHidden
							)
					VALUES(#{seq},
							#{selling_a},
							#{selling_b},
							#{selling_c},
							#{sHidden}
							) 
	</insert>
	
	<update id="updateBusinessPlanA" parameterType="BusinessPalnAVO">
	UPDATE Businessplana 
	<set>
		BUSINESS_A =#{business_a},
		BUSINESS_B=#{business_b},
		BUSINESS_C=#{business_c}
	</set> 
	WHERE SEQ=#{seq}
	</update>
	
	
	<delete id="deleteBusinessPlanA" parameterType="BusinessPalnAVO">
	DELETE FROM Businessplana 
	WHERE SEQ=#{seq}
	</delete>
	
	
	
</mapper>