<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.following.service.impl.FollowingMapper">

<!-- 김찬곤 ============================================================================  -->
	
	<!-- 김찬곤 추가 -->
	<!-- 단건 조회 -->
	<select id="getMentorFollowing" resultType="com.company.following.service.FollowingVO">
		SELECT ID, MENTOR_ID
		FROM FOLLOWING
		WHERE ID = #{id}
		AND MENTOR_ID = #{mentor_id}	
	</select>
	
	<!-- 김찬곤 추가 -->
	<!-- 멘토 팔로우  -->
	<insert id="MentorFollow" parameterType="com.company.following.service.FollowingVO" >
		INSERT INTO FOLLOWING
					( ID, MENTOR_ID )
		VALUES
					( #{id}, #{mentor_id} )
	</insert>
	
	<!-- 김찬곤 추가 -->
	<!-- 멘토 팔로우 취소 -->
	<delete id="deleteMentorFollow" parameterType="com.company.following.service.FollowingVO">
		DELETE FROM FOLLOWING
		WHERE ID = #{id}
		AND MENTOR_ID = #{mentor_id}
	</delete>
	
	<!-- 김찬곤 추가 -->
	<!-- 팔로우 중복 확인 -->
	<select id="mentorFollowCheck" resultType="int">
		SELECT COUNT(*)
		FROM FOLLOWING
		WHERE ID = #{id}
		AND MENTOR_ID = #{mentor_id}
	</select>
	
	<!-- 김찬곤 추가 -->
 	<!-- 멘토 팔로우 카운트 -->
	<select id="getFollowCnt" resultType="int">
		SELECT COUNT(*) FROM FOLLOWING
		WHERE MENTOR_ID = #{mentor_id}
	</select>

<!-- End of 김찬곤 ============================================================================  -->	

</mapper>