<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.company.inquire.service.impl.InquireMapper">
 

 	<!--문의목록전체조회 검색 기능  -->
 	<sql id="search">
		<if test="searchType != null">
				<if test="searchType == 't'.toString()">
					<if test="optionValue != null">
					AND TITLE LIKE '%' || #{keyword} || '%' and category_a = #{optionValue}
					</if>
					AND TITLE LIKE '%' || #{keyword} || '%' 
				</if>
				<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
				<if test="searchType == 'w'.toString()">AND ID LIKE '%' || #{keyword} || '%'</if>
				<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	<!--문의목록전체조회 페이징 처리(1) 페이지 전체조회 갯수체크  -->
 	<select id="inquireCount" parameterType="InquireVO" resultType="int">
 		
 	select count(seq) from inquire where 1=1 
 	<include refid="search"></include>
		AND SEQ > 0	  
 	
 	</select>
	<!--문의목록 페이징 처리(2) 페이지 처리 후 게시글 전체조회  -->
	<select id="getInquireList" resultType="InquireVO" parameterType="InquireVO">
		select 	SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE
		from ( SELECT SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE,
					  ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
			   FROM inquire where 1=1 
		<include refid="search"></include>) 
		inquire WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		order by status desc
	</select>
	<!--문의목록전체조회 페이징 처리(1) 페이지 전체조회 중 답변완료 갯수체크  -->
 	<select id="inquireCountY" parameterType="InquireVO" resultType="int">
 		
 	select count(seq) from inquire where 1=1 and status='답변완료'
 	<include refid="search"></include>
		AND SEQ > 0	  
 	
 	</select>
	<!--문의목록 페이징 처리(2) 페이지 처리 후 게시글 전체조회 중 답변완료-->
	<select id="getInquireListY" resultType="InquireVO" parameterType="InquireVO">
		select 	SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE
		from ( SELECT SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE,
					  ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
			   FROM inquire where 1=1 and status='답변완료'
		<include refid="search"></include>) 
		inquire WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY SEQ DESC
	</select>
	<!--문의목록전체조회 페이징 처리(1) 페이지 전체조회 중 미답변 갯수체크  -->
 	<select id="inquireCountN" parameterType="InquireVO" resultType="int">
 		
 	select count(seq) from inquire where 1=1 and status='미답변'
 	<include refid="search"></include>
		AND SEQ > 0	  
 	
 	</select>	
	<!--문의목록 페이징 처리(2) 페이지 처리 후 게시글 전체조회 중 미답변-->
	<select id="getInquireListN" resultType="InquireVO" parameterType="InquireVO">
		select 	SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE
		from ( SELECT SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE,
					  ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
			   FROM inquire where 1=1 and status='미답변'
		<include refid="search"></include>) 
		inquire WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY SEQ DESC
	</select>
	
	 <!--문의목록전체조회 페이징 처리(1) 페이지 갯수체크 카테고리 결제  -->
 	<select id="inquireCount2" parameterType="InquireVO" resultType="int">
 		
 	select count(seq) from inquire where 1=1 and CATEGORY_a='결제' 
 	<include refid="search"></include>
		AND SEQ > 0	  
 	
 	</select>
	<!--문의목록 페이징 처리(2) 페이지 처리 후 게시글 조회  카테고리 결제-->
	<select id="getInquireList2" resultType="InquireVO" parameterType="InquireVO">
		select 	SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE
		from ( SELECT SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE,
					  ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
			   FROM inquire where 1=1 and CATEGORY_a='결제' 
		<include refid="search"></include>) 
		inquire WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		order by status desc
	</select>
	<!--문의목록 페이징 처리(2) 페이지 처리 후 게시글 조회  카테고리 환불-->
	<select id="getInquireList3" resultType="InquireVO" parameterType="InquireVO">
		select 	SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE
		from ( SELECT SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE,
					  ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
			   FROM inquire where 1=1  and CATEGORY_a='환불' 
		<include refid="search"></include>) 
		inquire WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		order by status desc
	</select>
	<!--문의목록 페이징 처리(2) 페이지 처리 후 게시글 조회  카테고리 신청-->
	<select id="getInquireList4" resultType="InquireVO" parameterType="InquireVO">
		select 	SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE
		from ( SELECT SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE,
					  ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
			   FROM inquire where 1=1  and CATEGORY_a='신청' 
		<include refid="search"></include>) 
		inquire WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		order by status desc
	</select> 
	<!--문의목록 페이징 처리(2) 페이지 처리 후 게시글 조회  카테고리 취소-->
	<select id="getInquireList5" resultType="InquireVO" parameterType="InquireVO">
		select 	SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE
		from ( SELECT SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE,
					  ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
			   FROM inquire where 1=1  and CATEGORY_a='취소' 
		<include refid="search"></include>) 
		inquire WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		order by status desc
	</select>
	<!--문의목록 페이징 처리(2) 페이지 처리 후 게시글 조회  카테고리 기타-->
	<select id="getInquireList6" resultType="InquireVO" parameterType="InquireVO">
		select 	SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE
		from ( SELECT SEQ, CATEGORY_A, CATEGORY_B, W_DATE, CLICK, CONTENT, I_FILE, STATUS, ID, TITLE,
					  ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
			   FROM inquire where 1=1  and CATEGORY_a='기타' 
		<include refid="search"></include>) 
		inquire WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		order by status desc
	</select>	 	
	
	<!--문의 목록전체조회 -> 단건조회-->
	<select id="getInquire" resultType="InquireVO" parameterType="InquireVO">
	
	select * from inquire where SEQ=#{seq}
	</select>
	<!--  -->
	
	<!--문의하기 글 작성 -->
	<insert id="insertInquire"  parameterType="InquireVO">
	insert into inquire( seq, category_a, category_b, w_date, click, content, i_file, status,
	id, title) values(inq_seq.nextval, #{category_a}, 	#{category_b}, 
	SYSDATE, '0', #{content}, '파일없음', '미답변',#{id}, #{title})	
	</insert> 
	<!--  -->
	
	<!--유저 내문의 목록 조회  -->
	<select id="userInquireList" resultType="InquireVO" parameterType="map">
	select * from inquire where id= #{id} order by seq desc
	</select>
	<!--  -->
	
	<!--유저 내문의 목록 단건조회 -->
	<select id="getUserInquire" resultType="InquireVO" parameterType="InquireVO">
	select * from inquire where SEQ=#{seq} and id= #{id}
	</select>
	<!--  -->
	
	<!--유저 내문의목록 글 수정  -->
	<update id="updateInquire" parameterType="InquireVO">
	UPDATE inquire
	<set>
	title = #{title},
	content = #{content},
	category_a = #{category_a}
	</set>
	where SEQ=#{seq} and id= #{id}
	</update>
	<!--  -->
	
	<!--관리자 답변 작성  -->
	<insert id="insertAnswer"  parameterType="Inquire_AnswerVO">
	insert into INQUIRY_ANSWER (SEQ, TITLE, CONTENT, W_DATE, ID, I_SEQ, SEQ_ORD)
	values(#{seq}, #{title}, #{content}, sysdate, #{id}, inq_seq2.nextval, 0)
	
	</insert> 
	<!--관리자 답변 작성시 답변완료 상태변화  -->
	<update id="updateConfirm" parameterType="InquireVO">
  		UPDATE inquire SET status = '답변완료' WHERE SEQ = #{seq}
	</update>
	<!--유저 답변 목록  -->
	<select id="userAnswerList" resultType="Inquire_AnswerVO" parameterType="Inquire_AnswerVO">
	select * from Inquiry_Answer where seq= #{seq}
	
	
	</select>
	<!--유저 문의 글 삭제  -->
	<delete id="deleteInquire" parameterType="InquireVO">
	DELETE FROM inquire 
	WHERE SEQ=#{seq}
	</delete>
	
 </mapper>