<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.company.mentoring.service.impl.MentoringMapper">
 
 	<!-- 멘토링 리스트 호출 -->
 	<select id="getMentoringList" resultType="com.company.mentoring.service.MentoringVO">
 		SELECT * FROM MENTORING
 		ORDER BY MENTORING_NUMBER
 	</select>
 	
 	<!-- 멘토링 등록 -->
	<insert id="insertMentoring" parameterType="com.company.mentoring.service.MentoringVO" >
	
		INSERT INTO MENTORING
		(
		MENTORING_NUMBER,
		MENTORING_NAME,
		MENTORING_LIMIT,
		MENTORING_CONTENT,
		MENTORING_PHOTO,
		MENTORING_PRICE,
		MENTOR_ID,	
		MENTORING_BEGIN_DATE,
		MENTORING_END_DATE
		)
		VALUES
		(
		SEQ_MENTORING.NEXTVAL,
		#{mentoring_name},
		#{mentoring_limit},
		#{mentoring_content},
		#{mentoring_photo},
		#{mentoring_price},
		#{mentor_id},
		#{mentoring_begin_date},
		#{mentoring_end_date}
		)
		
	</insert>
	
	<!-- 멘토 멘토링 코스 조회 -->
	<select id="getMentoring" resultType="com.company.mentoring.service.MentoringVO">
		SELECT
			    MENTORING_NUMBER,
				MENTORING_NAME,
				MENTORING_LIMIT,
				MENTORING_CONTENT,
				MENTORING_PHOTO,
				MENTORING_PRICE,
				MENTORING_DATA,
				MENTOR_ID,
				TO_CHAR(MENTORING_END_DATE, 'YYYY-MM-DD') as s_date,
				TO_CHAR(MENTORING_BEGIN_DATE, 'YYYY-MM-DD') as e_date
		FROM MENTORING
		WHERE MENTOR_ID = #{mentor_id}
	</select>
	
	<!-- 멘토링 list 조회-->
	<!-- 양소민 -->
	<select id="getSearchMentoring" resultType="com.company.mentoring.service.MentoringVO">
		SELECT
				
				TO_CHAR(MEN_START,'YYYY-MM-DD') AS "men_start",
				TO_CHAR(MET_END,'YYYY-MM-DD') AS "met_end",
				ID,
				MENTEEID
		FROM MYMENTORINGVU
		WHERE MENTORING_NUMBER=#{mentoring_number}
	</select>
	
	<select id="getMyMentoringListSom" resultType="com.company.mentoring.service.MentoringVO">
		SELECT 
		I.MENTORING_NUMBER,
		I.MENTORING_NAME,
		I.MENTORING_LIMIT,
		I.MENTORING_CONTENT,
		I.MENTORING_PHOTO,
		I.MENTORING_PRICE,
		I.MENTORING_DATA,
		I.MENTOR_ID,
		TO_CHAR(I.MENTORING_END_DATE,'YYYY-MM-DD') AS "mentoring_end_date",
		TO_CHAR(I.MENTORING_BEGIN_DATE,'YYYY-MM-DD') AS "mentoring_begin_date",
		M.ID
		 FROM MENTORING I
		
		JOIN MENTOR M
		ON I.MENTOR_ID=M.MENTOR_ID
		WHERE ID=#{id}
	</select>
	
	
	<!-- 멘토링 중복 체크 -->
	<select id="MentoringRegisterCheck" resultType="com.company.mentoring.service.MentoringVO">
		select 
			MENTORING_BEGIN_DATE, MENTORING_END_DATE
		FROM 
			MENTORING
		WHERE MENTORING_BEGIN_DATE = #{mentoring_begin_date}
	</select>
	
	<!-- 멘토링 코스 수정 -->
	<update id="updateMentoring" parameterType="MentoringVO">
	 UPDATE  MENTORING
	 SET 
	 MENTORING_NAME =#{mentoring_name},
	 MENTORING_LIMIT =#{mentoring_limit},
	 MENTORING_CONTENT =#{mentoring_content},
	 <!-- MENTORING_PHOTO=#{mentoring_photo}, -->
	 MENTORING_PRICE=#{mentoring_price}
	 <!-- ,MENTORING_BEGIN_DATE=#{mentoring_begin_date},
	 MENTORING_END_DATE=#{mentoring_end_date} -->
	 WHERE MENTORING_NUMBER=#{mentoring_number}
	</update>


	<!-- 멘토링 코스 상세조회 -->
	<select id="getMentoringDetail" resultType="MentoringVO">
	 SELECT
	 MENTORING_NUMBER, 
	 MENTORING_NAME, 
	 MENTORING_LIMIT,
	 MENTORING_CONTENT, 
	 MENTORING_PHOTO, 
	 MENTORING_PRICE, 
	 MENTORING_DATA,
	 MENTOR_ID, 
	 TO_CHAR(MENTORING_BEGIN_DATE, 'yyyy-mm-dd') AS "mentoring_begin_date",
	 TO_CHAR(MENTORING_END_DATE,'yyyy-mm-dd') AS "mentoring_end_date",
	 MENTORING_CLICK,
	 MENTORING_OPEN_DATE 
	 FROM MENTORING
	 WHERE MENTORING_NUMBER = #{mentoring_number}
	</select>

</mapper>
