<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.company.mentor.service.impl.MentorMapper">
 
 	<!-- 멘토 리스트 페이지 호출  -->
 	<select id="MentorList" resultType="com.company.mentor.service.MentorVO">
 		SELECT * FROM MENTOR
 	</select>
 
 	<!-- 전체검색 / 지역 검색 / 직무 검색  --> 
	<select id="getMentorList" resultType="com.company.mentor.service.MentorVO">
		SELECT * FROM MENTOR
		<where>
		<if test="mentoring_location != null and mentoring_location != ''">
			 MENTORING_LOCATION = #{mentoring_location}
		</if>
		<if test="mentor_duty != null and mentor_duty != ''">
			AND MENTOR_DUTY = #{mentor_duty}
		</if>
		</where>
	</select>
	
	<!-- 키워드 검색 -->
	<select id="getKeywordSearch" resultType="com.company.mentor.service.MentorVO">
		SELECT * FROM MENTOR
		WHERE MENTORING_KIND LIKE '%'||#{searchKeyword}||'%' 
	</select>
	
	<!-- 연령 검색 -->
	<select id="getAgeSearch" resultType="com.company.mentor.service.MentorVO">
		SELECT * FROM MENTOR
				WHERE MENTORING_AGE = #{searchAge}			
	</select>
	
	<!-- 멘토 등록 -->
	<insert id="MentorRegisterProc" parameterType="com.company.mentor.service.MentorVO">
		INSERT INTO MENTOR
		(
		MENTOR_ID,
		MENTORING_KIND,
		MENTOR_INTRODUCE,
		MENTOR_CAREER,
		MENTOR_PHOTO,
		MENTOR_LICENSE,
		MENTOR_CAREER_CERTIFICATE,
		MENTOR_SCHOOL_NAME,
		MENTOR_COMPANY_NAME,
		MENTOR_DEPARTMENT_NAME,
		MENTOR_JOB_ID,
		MENTOR_DUTY,
		ID,
		MENTORING_AGE,
		MENTORING_LOCATION,
		MENTOR_DATE
		)
		VALUES(
		SEQ_MENTOR.NEXTVAL,
		#{mentoring_kind},
		#{mentor_introduce},
		#{mentor_career},
		#{mentor_photo},
		#{mentor_license},
		#{mentor_career_certificate},
		#{mentor_school_name},
		#{mentor_company_name},
		#{mentor_department_name},
		#{mentor_job_id},
		#{mentor_duty},
		#{id},
		#{mentoring_age},
		#{mentoring_location},
		sysdate
		)
	</insert>
	
	<!-- 멘토 등록 중복 체크 -->
	<select id="mentorRegisterCheck" resultType="com.company.mentor.service.MentorVO" parameterType="com.company.mentor.service.MentorVO">
		SELECT * FROM MENTOR
		WHERE ID = #{id}
	</select>
	
	<!-- 멘토 상세페이지 -->
	<select id="getMentor" resultType="com.company.mentor.service.MentorVO" parameterType="com.company.mentor.service.MentorVO">
	SELECT U.name "usersVO.name", M.*
	FROM USERS U, MENTOR M
	WHERE U.ID = M.ID
	AND M.MENTOR_ID = #{mentor_id}
	</select>
	
	<!--페이징 처리(1) 레코드 건수  -->
	<select id="getCountMentor" resultType="int">
		SELECT COUNT(*) FROM MENTOR
	</select>
	
	<!--페이징 처리(2) 페이지 처리 후 지정된 범위의 멘토 조회  -->
	<select id="getSearchMentor" resultType="com.company.mentor.service.MentorVO">
		SELECT * FROM(
			SELECT ROWNUM RN, A.* FROM(
				SELECT * FROM MENTOR
				ORDER BY MENTOR_ID
				) A
			)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 세부검색: 최신순(멘토등록일자 기준) -->
	<select id="getMentorByDate" resultType="com.company.mentor.service.MentorVO">
		SELECT * FROM MENTOR
   		ORDER BY MENTOR_DATE DESC
	</select>
	
	<!-- 세부검색: 인기순(팔로우숫자 기준) -->
	<select id="getMentorByFollow" resultType="com.company.mentor.service.MentorVO">
		SELECT M.MENTOR_ID, COUNT(F.ID) "followingVO.followNum"
		
			FROM MENTOR M, FOLLOWING F
			WHERE M.MENTOR_ID = F.MENTOR_ID
			
		GROUP BY M.MENTOR_ID
		ORDER BY "followingVO.followNum" DESC
	</select>
	
	
	<!-- 양소민 추가 -->
	<!-- 멘토 아이디 조회 -->
	<select id="getMentorId" resultType="string">
	SELECT MENTOR_ID
 	FROM MENTOR
 	WHERE ID=#{id}
	</select>
 </mapper>	