<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.company.resume.service.impl.ResumeMapper">
	<select id="getSearchResumeList" resultType="com.company.resume.service.ResumeVO">
		select resume_no, resume_name, resume_birth, resume_email, resume_phone, resume_address, resume_school, resume_area, resume_start, resume_end, id, image
		from resume; 
	</select>
 </mapper>