<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.schedule.service.impl.ScheduleMapper">

	<!-- 일정 조회, 마이페이지 홈에있는 calendar에서 확인 가능 -->
	<select id="getSearchSchedule" parameterType="ScheduleVO" resultType="map">
		SELECT SCHEDULE_NAME AS "title",
  				TO_CHAR(schedule_start,'yyyy-mm-dd')||'T'||schedule_end_TIME AS "start",
 				TO_CHAR(schedule_end,'yyyy-mm-dd')||'T'||schedule_start_TIME AS "end"
		FROM SCHEDULE 
		WHERE
			(MENTORID=#{mentorid} or
			MENTEEID=#{menteeid}) 
		AND 
		STATE='accept'
	</select>
	
	<!-- 멘토가 보낸 요청이 멘티의 마이페이지 홈에서 보임. -->
	<select id="getSearchRequest" resultType="map">
		SELECT *
		FROM SCHEDULE 
		WHERE 
		MENTEEID=#{menteeid} 
		AND 
		STATE='request'
	</select>
	
	<!-- 멘토링 요청 보내기. 내가 만든 멘토링에서 멘토링 요청 버튼을 누르면 작동  -->
	<insert id="insertSchedule" parameterType="ScheduleVO">
		INSERT INTO SCHEDULE(SEQ,
							SCHEDULE_NAME,
							SCHEDULE_CON,
							SCHEDULE_START,
							SCHEDULE_END,
							STATE,
							MENTEEID,
							MENTORID,
							SCHEDULE_START_TIME,
							SCHEDULE_END_TIME) 
					VALUES(SCHEDULE_SEQ.NEXTVAL,
							#{schedule_name},
							#{schedule_con},
							#{schedule_start},
							#{schedule_end},
							'request',
							#{menteeid},
							#{mentorid},
							#{schedule_start_time},
							#{schedule_end_time}
							)
					
	</insert>
	
	<!-- 멘티가 요청 승낙할 시 캘린더에 등록됨.-->
	<update id="updateSchedule" parameterType="ScheduleVO">
		UPDATE SCHEDULE 
		SET 
		STATE='accept' 
		WHERE 
		SEQ=#{seq}
	</update>
	
	<!-- 멘티가 요청 거절할 시  -->
	<update id="updateScheduleReject" parameterType="ScheduleVO">
		UPDATE SCHEDULE 
		SET 
		STATE='reject' 
		WHERE 
		SEQ=#{seq}
	</update>

</mapper>