<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.schedule.service.impl.ScheduleMapper">

	
	<select id="getSearchSchedule" parameterType="ScheduleVO" resultType="map">
		SELECT Schedule_Name as "title",
  				Schedule_Start as "start",
 				Schedule_End as "end"
		FROM SCHEDULE 
		WHERE
		<choose>
		<when test="auth == 'MENTOR'">
			MENTORID=#{mentorid}
			</when>
			<when test="auth == 'USER'">
			MENTEEID=#{menteeid} 
			</when>
			
			<otherwise>
			</otherwise>
		</choose>
		AND 
		STATE='accept'
	</select>
	
	<select id="getSearchRequest" resultType="map">
		SELECT *
		FROM SCHEDULE 
		WHERE 
		MENTEEID=#{menteeid} 
		AND 
		STATE='request'
	</select>
	
	<insert id="insertSchedule" parameterType="ScheduleVO">
		insert into schedule(SEQ,
							SCHEDULE_NAME,
							SCHEDULE_CON,
							SCHEDULE_START,
							SCHEDULE_END,
							STATE,
							MENTEEID,
							MENTORID) 
					values(schedule_seq.nextval,
							#{schedule_name},
							#{schedule_con},
							sysdate,
							sysdate+5,
							'request',
							#{menteeid},
							#{mentorid}
							)
					
	</insert>

</mapper>