<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.company.service_center.service.impl.Service_CenterMapper">
	<select id="getService_CenterList" resultType="Service_CenterVO">
	select seq,
	category_a,
	category_b,
	w_date,
	click,
	content,
	s_file,
	id,
	title from service_center
	</select>
		<select id="getService_Center" resultType="Service_CenterVO"
				parameterType="Service_CenterVO">
	select seq,
	category_a,
	category_b,
	w_date,
	click,
	content,
	s_file,
	id,
	title from service_center
	 WHERE SEQ = #{seq} 
	</select>
	<!--조회수 증가  -->
	<update id="updateClick" parameterType="Service_CenterVO">
  		UPDATE service_center SET click = click + 1 WHERE SEQ = #{seq}
	</update>
	<!--페이징 처리(1) 페이지 갯수 체크  -->
	<select id="listCount"  parameterType="SearchCriteria" resultType="int">

		SELECT COUNT(SEQ) 
		FROM service_center
		WHERE  1=1
		<include refid="search"></include>
		AND SEQ > 0	  

	</select>
	<sql id="search">
		<if test="searchType != null">
				<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
				<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
				<if test="searchType == 'w'.toString()">AND ID LIKE '%' || #{keyword} || '%'</if>
				<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	
	
	<!--페이징 처리(2) 페이지 처리 후 게시글 조회  -->
	<select id="list" resultType="Service_CenterVO" parameterType="Service_CenterVO">
		select 	SEQ,
						CATEGORY_A,
						CATEGORY_B,
						W_DATE,
						CLICK,
						CONTENT,
						S_FILE,
						ID,
						TITLE from (
            						SELECT 	SEQ,
											CATEGORY_A,
											CATEGORY_B,
											W_DATE,
											CLICK,
											CONTENT,
											S_FILE,
											ID,
											TITLE, ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
											FROM SERVICE_CENTER
																	
											where 1=1
											<include refid="search"></include>
																	 
											 ) SERVCIE_CENTER WHERE RNUM
																	  
																	  
											BETWEEN #{rowStart} AND #{rowEnd}
											ORDER BY SEQ DESC





	</select>
	<!--이전글, 다음글-->
	<select id="preNext" resultType="Service_CenterVO" parameterType="Service_CenterVO">
	select seq, prev, prev_title,  next, next_title 
			FROM (
  					SELECT  SEQ, 
    						LAG(SEQ,1) OVER(ORDER BY SEQ) PREV,
						    LAG(TITLE,1) OVER(ORDER BY SEQ) PREV_TITLE,    
						    LEAD(SEQ,1) OVER(ORDER BY SEQ) NEXT, 
						    LEAD(TITLE,1) OVER(ORDER BY SEQ) NEXT_TITLE
 		FROM SERVICE_CENTER)
 		WHERE SEQ= #{seq} 
 	</select>
 	<!--공지사항 글 등록  -->
 	<insert id="insertService_Center" parameterType="Service_CenterVO">
 	insert into service_center(SEQ,
				CATEGORY_A,
				<!-- CATEGORY_B, -->
				CONTENT,
				<!-- S_FILE, -->
				ID,
				TITLE) values ((SELECT NVL(MAX(SEQ),0)+1 FROM service_center),
				 				#{category_a},
				 				<!--#{category_b},  -->
				 				#{content},
				 				<!-- #{s_file}, -->
				 				#{id},
				 				#{title})
 	</insert>
 	
	
 </mapper>