<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.company.users.service.impl.UsersMapper">
	<select id="getUsersList" resultType="com.company.users.service.UsersVO">
	select * from users
	</select>
	
	<select id="getUsers" resultType="UsersVO">
	select * from users
	where id=#{id}
	</select>
	
	
	<update id="updateUsers" parameterType="UsersVO">
	update users
	<set>
	address=#{address},
	phonenum=#{phonenum},
	email=#{email},
	birth=#{birth}
	</set>
	where id=#{id}
	</update>
 </mapper>