<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.company.users.service.impl.UsersMapper">
	<!-- 전체 조회 -->
	<select id="getUsersList" resultType="com.company.users.service.UsersVO">
	SELECT     ID
			  ,PASSWORD
			  ,ADDRESS
			  ,PHONENUM
			  ,EMAIL
			  ,BIRTH
			  ,AUTH
			  ,NAME
			  ,LOG_DATE
	FROM USERS
	</select>
	<!-- 단건 조회 -->
	<select id ="getUsers" resultType="com.company.users.service.UsersVO" parameterType="com.company.users.service.UsersVO">
	SELECT     ID
			  ,PASSWORD
			  ,ADDRESS
			  ,PHONENUM
			  ,EMAIL
			  ,BIRTH
			  ,AUTH
			  ,NAME
			  ,LOG_DATE
			  FROM USERS
	WHERE ID = #{id}		  
	</select>

	
	<!-- login -->
	<select id ="logCheck" resultType="com.company.users.service.UsersVO" parameterType ="com.company.users.service.UsersVO">
		SELECT ID,
			   PASSWORD,
			   NAME,
			   AUTH	
		FROM USERS
		WHERE ID = #{id}    
	</select>
	
	<!-- kakao session login -->
	<select id ="kakaoCheck" resultType="com.company.users.service.UsersVO" parameterType ="com.company.users.service.UsersVO">
		SELECT ID
		FROM USERS
		WHERE ID = #{id}    
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="int">
	SELECT COUNT(*) FROM USERS
	WHERE ID = #{id}
	</select>
	
	<!-- 패스워드 체크 -->
	<select id ="passCheck" resultType="int">
	SELECT COUNT(*) FROM USERS
	WHERE ID = #{id}
	AND PASSWORD = #{password}
	</select>
	
	<!-- email 중복체크 -->
	<select id="emailCheck" resultType="int">
	SELECT COUNT(*) FROM USERS
	WHERE EMAIL = #{email}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertUsers" parameterType="com.company.users.service.UsersVO">
	INSERT INTO USERS(<if test="id != null and id !=''">ID</if>
					<if test="password != null and password !=''">,PASSWORD</if>
					<if test="address != null and address !=''">,ADDRESS</if>
					<if test="phonenum != null and phonenum !=''">,PHONENUM</if>
					<if test="email != null and email !=''">,EMAIL</if>
					<if test="birth != null and birth !=''">,BIRTH</if>
					<if test="name != null and name !=''">,NAME</if>)
	VALUES(			<if test="id != null and id !=''">#{id}</if>
					<if test="password != null and password !=''">,#{password}</if>
					<if test="address != null and address !=''">,#{address}</if>
					<if test="phonenum != null and phonenum !=''">,#{phonenum}</if>
					<if test="email != null and email !=''">,#{email}</if>
					<if test="birth != null and birth !=''">,#{birth}</if>
					<if test="name != null and name !=''">,#{name}</if>)
	</insert>
	
	<!-- 패스워드 변경 -->
	<update id="updateInfo" parameterType="com.company.users.service.UsersVO">
		UPDATE USERS SET PASSWORD = #{password} 
						 WHERE ID = #{id}
	</update>
	
	<!-- 회원정보 업데이트 -->
	<update id="updateUsers" parameterType="com.company.users.service.UsersVO">
		UPDATE USERS SET PASSWORD = #{password}, 
					     <if test="address != null and address !=''">ADDRESS= #{address},</if>		
						 <if test="phonenum !=null and phonenum !=''">PHONENUM= #{phonenum},</if>
						 <if test="email !=null and email !=''">EMAIL= #{email},</if>
						 <if test="birth !=null and birth !=''">BIRTH= #{birth},</if>
						 <if test="name !=null and name !=''">NAME= #{name},</if>	
						 WHERE ID = #{id}
	</update>
	</mapper>
