<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.company.users.service.impl.UsersMapper">
	<!-- 전체 조회 -->
	<select id="getUsersList" resultType="com.company.users.service.UsersVO">
	SELECT     ID
			  ,PASSWORD
			  ,ADDRESS
			  ,PHONENUM
			  ,EMAIL
			  ,BIRTH
			  ,AUTH
			  ,NAME
			  ,LOG_DATE
	FROM USERS
	</select>
	<!-- 단건 조회 -->
	<select id ="getUsers" resultType="com.company.users.service.UsersVO" parameterType="com.company.users.service.UsersVO">
	SELECT     ID
			  ,PASSWORD
			  ,ADDRESS
			  ,PHONENUM
			  ,EMAIL
			  ,BIRTH
			  ,AUTH
			  ,NAME
			  ,LOG_DATE
			  FROM USERS
	WHERE ID = #{id}		  
	</select>
	<!-- login -->
	<select id ="logCheck" resultType="com.company.users.service.UsersVO" parameterType ="com.company.users.service.UsersVO">
		SELECT ID,
			   PASSWORD,
			   NAME,
			   AUTH	
		FROM USERS
		WHERE ID = #{id} 
		AND PASSWORD = #{password}	   
	</select>
	<!-- 회원가입 -->
	<insert id="insertUsers">
	INSERT INTO USERS(ID,
					PASSWORD,
					ADDRESS,
					PHONENUM,
					EMAIL,
					BIRTH,
					NAME) 
	VALUES(			#{id},
					#{password},
					#{address},
					#{phonenum},
					#{email},
					#{birth},
					#{name})
	</insert>
 </mapper>